p {
    font-size: 26px;
    color: blue;
    text-align: center;
}
div {
    width:400px;
    height:250px;
    border: solid orange;
    padding: 10px;
    margin-top: 20px;
    align-content: center;
}
.center {
    padding: 10px;
   margin: auto;
    
}